$input-border-color                    : #b4b4b4;
$input-background-color                : #ffffff;
$item-border-color                     : #d4d4d4;
$auto-item-bak-color                   : #dddddd;
$active-item-color                     : #a2a2a2;
$active-item-text-color                : #000000;